<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/13.2/phpunit.xsd"
    bootstrap="vendor/autoload.php"
    colors="true"
    cacheResult="false"
    beStrictAboutOutputDuringTests="true"
    failOnWarning="true"
    failOnRisky="true"
    failOnDeprecation="true"
>
    <testsuites>
        <testsuite name="contracts">
            <directory suffix="Test.php">packages/contracts/tests</directory>
        </testsuite>
        <testsuite name="core">
            <directory suffix="Test.php">packages/core/tests</directory>
        </testsuite>
        <testsuite name="http">
            <directory suffix="Test.php">packages/http/tests</directory>
        </testsuite>
        <testsuite name="module">
            <directory suffix="Test.php">packages/module/tests</directory>
        </testsuite>
        <testsuite name="plugin">
            <directory suffix="Test.php">packages/plugin/tests</directory>
        </testsuite>
        <testsuite name="testing">
            <directory suffix="Test.php">packages/testing/tests</directory>
        </testsuite>
    </testsuites>
    <source>
        <include>
            <directory suffix=".php">packages/contracts/src</directory>
            <directory suffix=".php">packages/core/src</directory>
            <directory suffix=".php">packages/http/src</directory>
            <directory suffix=".php">packages/module/src</directory>
            <directory suffix=".php">packages/plugin/src</directory>
            <directory suffix=".php">packages/testing/src</directory>
        </include>
    </source>
</phpunit>
